<h1>Users#signup</h1>
<form action="/users/submit_signup" method="post">
  <input type="email" name="email"  placeholder="enter email" / >
  <input type="password" name="password"  placeholder="enter password" / >
  <input type="text" name="username"  placeholder="enter username" / >

  <input type="submit" value="sign up" / >


</form>
