<h1>Users#signin</h1>
<form action="/users/submit_signin" method="post">
  <input type="email" name="email"  placeholder="enter email" / >
  <input type="password" name="password"  placeholder="enter password" / >
  <input type="submit" value="sign in" / >


</form>
